.annotationControls{
	display:inline-block;
	height:22px;
	margin:25px auto 0 auto;
	-webkit-border-radius:6px;
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#fcfcfc), to(#d4d4d4));
}
.annotationControls .control{
	float:left;
}
.annotationControls .modeControl{
	border-right:1px solid #cccccc;
}
.annotationControls .colorControl{
	border-left:1px solid #999999;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
}
.annotationControls .annotationControl:first-child{
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
}
.annotationControls .annotationControl{
	float:left;
	cursor:pointer;
	width:22px;
	height:22px;
	padding:0px 2px;
}
.annotationControls .annotationControl *{
	cursor:pointer;
}

.annotationControls .annotationControl.press{
	background:#f9f8f6;
}
.annotationControls .annotationControl:hover{
	background:#f9f8f6;
}
.annotationControls .colorControl .colorItem{
	margin:5px 6px 6px 5px;
	width:10px;
	height:10px;
	background:#ff0000;
	border:1px solid #cccccc;
}