.toolbar{
	width:300px;
	height:22px;
	margin:25px auto 0 auto;
	-webkit-border-radius:6px;
	background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#fcfcfc), to(#d4d4d4));
}

.toolbar .item:first-child{
	-webkit-border-top-left-radius:6px;
	-webkit-border-bottom-left-radius:6px;
}
.toolbar .item:last-child{
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
}
.toolbar .item{
	float:left;
	cursor:pointer;
	width:22px;
	height:22px;
	padding:0px 2px;
}
.toolbar .item *{
	cursor:pointer;
}

.toolbar .item.press{
	background:#f9f8f6;
}
.toolbar .item:hover{
	background:#f9f8f6;
}