<script id="tmpl-AnnotationControls" type="text/html">
    <div class="annotationControls">
        <div class="annotationControl" data-value="arrow">
            <span class="ico icoArrow"></span>
        </div>
        <div class="annotationControl " data-value="line">
            <span class="ico icoLine"></span>
        </div>
        <div class="annotationControl " data-value="rect">
            <span class="ico icoRect"></span>
        </div>
        <div class="annotationControl " data-value="eclipse">
            <span class="ico icoEclipse"></span>
        </div>
    </div>
</script>
